<a href="https://colab.research.google.com/github/Harshita991/college/blob/master/list_tupple_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
li = [[1,2,3], [4,5,6], [7,8,9]]
transpose_mat = []
for i in range(len(li)):
  row = []
  for j in range(len(li[i])):
     row.append(li[j][i])
  transpose_mat.append(row)
print(transpose_mat)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
# start tuples ->
# Tuples are the orderd collections of elements
# tuples are immutable in nature. once you have created a tuple it can't
# be changed after the creation of the tuple.

# tuples are intiliased with parenthesis but there should minimum
# one element and one comma..

# Initialising the tuple

t = (1,2,3,4)
print(type(t))

# Intialising the tuple with one element
# one element with comma
t1 = (5,)
print(type(t1))
# initialising the empty tuples
t2 = ()
print(type(t2))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
# tuple packing is the process of grouping multiple values in a single tuple object .
#in python .this happens automatically whenever multiple comma-separated

In [ ]:
t = ([1,2], [3,4])
t[0] [1] = 100
print(t)

# here the list is changed not the tuple, here the whole list is considered
# as one element.

([1, 100], [3, 4])

In [ ]:
# into this the all values are asigend into the one variable
# which is automatically converted into the tuple. this process is
# tuple packing
vars = 1,2,3

print(type(vars))

<class 'tuple'>

In [ ]:
li = [(1,2), (3,4)]
li[0] [1]

2

In [ ]:
# tuple unpacking ->

vars = 1,2,3
a, b, c = vars
#a = vars[0]
#b = vars[1]
#c = vars[2]
print(a)
print(b)
print(c)

1
2
3

In [ ]:
t = (1,2,2,2,3,4,5)

# since the tuple are immutable so, it has only two methods
# 1. count -> which is used to find the frequency of the elements.
# 1. index -> it i used find the index of the elements.
t.count(2)
t.index(5)

6

In [ ]:
t1 = (1,2,3)
t2 = (4,5,6)

# in concatenations of the tuple when we concat the two tuples then it form
# a new tupl
t1+t2

(1, 2, 3, 4, 5, 6)

In [ ]:
a = (6+6)
print(type(a))

<class 'int'>

In [ ]:
# find the sum of all the elements of the given tuple(1,2,3,4,5,6,7,8)

t1 = (1,2,3,4,5,6,7,8)
sum = 0
for i in t1:
  sum += i
print(sum)

36

In [ ]:
# qus . 2 convert a tuple of string into the one string ->
# ('r', 'a', 'h', 'u', 'l')-> 'rahul'

t = ('r', 'a', 'h', 'u', 'l')
name = ''
for ch in t:
  name += ch
print(name)

rahul