<a href="https://colab.research.google.com/github/Harshita991/college/blob/master/oops_0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 1 student
name = 'Harshita'
course = 'Batch'
location = 'jaipur'
roll_no = 34

# 2 student
name = 'Harshita'
course = 'Batch'
location = 'jaipur'
roll_no = 34

# 3 student
name = 'Harshita'
course = 'Batch'
location = 'jaipur'
roll_no = 34

# 4 student
name = 'Harshita'
course = 'Batch'
location = 'jaipur'
roll_no = 34

# 5 student
name = 'Harshita'
course = 'Batch'
location = 'jaipur'
roll_no = 34

# 6 student
name = 'Harshita'
course = 'Batch'
location = 'jaipur'
roll_no = 34

print(name)
print(course)
print(location)
print(roll_no)

Harshita
Batch
jaipur
34

In [6]:
# why we use the object oriented programing ?
# The problem with procedural programing that we can't
# into the program-> ex- you have to remeber that..
# so, that's why we use the oops.

# object oriented programing
# we make the blueprint of any object or entity which is know as class
# the real world entity we use into that class
# that is object.

In [30]:
# Here we would make a student class
# here we have created class which has attribute name
class Student:
  # By default harshita
  # class attributes -> this class attribute is same
  # for all the objects or instances
  name = 'Harshita'

  # counstructor is automatically called when we created
  # an object.. by giving one property or argument
  def __init__(self, location):
    self.attr_location = location

# here we have created a student object
obj1 = Student('jaipur')

# here we have accessed the object's attributes
print(obj1.attr_location)
obj2 = Student('delhi')
print(obj2.attr_location)

jaipur
delhi

In [32]:
class Student_detail:
   name = ' Harshita'
Student1 = Student_detail()
print(Student1.name)

 Harshita

In [40]:
class Student_detail:
   name = ' Harshita'
   def __init__(self, name):
     self.student_name = name
Student1 = Student_detail('Harshita')
Student2 = Student_detail('Neha')
Student3 = Student_detail('Arpita')
Student4 = Student_detail('SHYAM')
Student5 = Student_detail('Anjali')
print(Student1)
print(Student2)
print(Student3)
print(Student4)
print(Student5)
# print(student4. student_name)

<__main__.Student_detail object at 0x7f97de627380>
<__main__.Student_detail object at 0x7f97de6247a0>
<__main__.Student_detail object at 0x7f97de6277a0>
<__main__.Student_detail object at 0x7f97de627800>
<__main__.Student_detail object at 0x7f97de6278c0>

In [52]:
# make a class of teacher, experience, name, domain
class teacher:
    def __init__(self, name, experience, domain):
      self.name = name
      self.experience = experience
      self.domain = domain
      print(self.name + ' ' + str(self.experience) + ' ' + self.domain)

obj1 = teacher('Harshita', 1, 'python')
obj2 = teacher('Neha', 2, 'java')
obj3 = teacher('Arpita', 3, 'c++')
obj4 = teacher('SHYAM', 4, 'c')
obj5 = teacher('Anjali', 5, 'c#')

Harshita 1 python
Neha 2 java
Arpita 3 c++
SHYAM 4 c
Anjali 5 c#