<a href="https://colab.research.google.com/github/Harshita991/college/blob/master/patten_0_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    if j==1 or j==i or i==5:
       print("*",end='')
    else:
        print(" ",end='')
  print()

*
**
* *
*  *
*****

In [ ]:
  for row in range(5,0,-1):
     for col in range(1,row+1):
       if col==1 or row==5 or row==col:
         print("*",end='')
       else:
        print(" ",end='')
     print()

*****
*  *
* *
**
*

In [ ]:
for i in range(1,6):
   for j in range(5-i):
      print(" ",end=' ')
   for k in range(i):
     if k==0 or k==i-1 or i==5:
       print("*",end=' ')
     else:
      print (" ",end=" ")
   print()

        *
      * *
    *   *
  *     *
* * * * *

In [ ]:
num=1
for i in range(1,5):
  for j in range(i):
    print(num,end=" ")
    num = num+1
  print(" ")

1
2 3
4 5 6
7 8 9 10

In [ ]:
num=10
for i in range(1,5):
  for j in range(i):
    print(num,end=" ")
    num = num-1
  print(" ")

10
9 8
7 6 5
4 3 2 1

In [ ]:
n=10
for i in range(4 , 0,-1):
  for s in range(4-i,0,-1):
    print(" ",end = " ")
  for j in range(i,0,-1):

    print(n,end= " ")
    n-=1
  print(" ")

10 9 8 7
  6 5 4
    3 2
      1

In [ ]:
a=12345

while a>10:
  sum=0
  while a>0:
    last_digit=a%10
    sum +=last_digit
    a//=10
  a=sum
print(a)

6

In [ ]:
num=153
temp= num
result =0

while temp>0:
   digit =temp%10
   result+= digit **3
   temp//=10

if result ==num:
    print("armstrong number")
else:
    print("not armstrong number")

armstrong number

In [ ]:
num = 134
temp = num
result = 0

while temp>0:
  digit = temp%10
  result+= digit **4
  temp//=10

  if result == num:
    print("armstrong number")
  else:
    print("not armstrong number")

not armstrong number
not armstrong number
not armstrong number

In [ ]:
for i in range(0,5):
  for j in range(0,i+1):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
for i in range(5):
    for j in range(5):
      if(i == 0 or i == 4 or j == 0 or j == 4):
        print("*",end="")
      else:
        print(" ",end="")
    print()

*****
*   *
*   *
*   *
*****

In [ ]:
for i in range(5):
    for j in range(i+1):
      if(j == 0 or j == i  or i == 4):
        print("*",end="")
      else:
        print(" ",end="")
    print()

*
**
* *
*  *
*****

In [ ]:
for i in range(1,5):

  for j in range(1,5-i+1):
    print(j,end=" ")
  for k in range(1,i):
    print("*" ,end=" ")
  print(" ")

1 2 3 4
1 2 3 *
1 2 * *
1 * * *

In [ ]:
# for i in range(4,0-1):
#    for j in range(0,i+1):
#     print("*",end='')
#   print(' ')

In [ ]:
for i in range(5,0,-1):
  print(i*"*")

*****
****
***
**
*

In [ ]:
--