<a href="https://colab.research.google.com/github/Harshita991/college/blob/master/set_class_1_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# initilaiazing the set
# the set can be initilaizing with the curly {} braces
# set is unorderd collections of elements

In [4]:
s1 = {}
print (type(s1))

<class 'dict'>

In [6]:
# if you want to create a empty set . then you have to use
# set () constructor

s2 = {}
type(s2)

dict

In [7]:
# the set stores the uniqe elements
s1 = {1,2,3,4,5,1,2,3,4,5}
print(s1)

{1, 2, 3, 4, 5}

In [9]:
li = [1,2,3,2,3,4,5]
set(li)

{1, 2, 3, 4, 5}

In [11]:
# unorderd collection
s = { 1,2,3,4,5}
for e in s:
  print(e)

1
2
3
4
5

In [18]:
# add an element
s = { 1,2,3,4,}
s.add(6)
print(s)

{1, 2, 3, 4, 6}

In [25]:
# add multiple elements use(.update)
# update method is used to update or add multiple elements into
# existing set.
s = {1,2,3,4}
s.update ([1,2,4,5,'new_string'])
print(s)

{1, 2, 3, 4, 5, 'new_string'}

In [27]:
# 1 write a program to create a set using list of the elements

li = [1,2,3,4,4]
s = set(li)
print(s)

{1, 2, 3, 4}

In [30]:
#2 write a take 5 input from the user and add the each elements to the set.
s = set()
print("s element")
for i in range(5):
  element = input()
  s.add(element)
print(s)

s element
1
2
3
4
5
{'3', '2', '5', '4', '1'}

In [34]:
s = set()
print("s element")
for i in range(5):
  value = int(input("enter element"))
  s.add(value)
print(s)

s element
enter element1
enter element2
enter element3
enter element4
enter element5
{1, 2, 3, 4, 5}

In [40]:
# use while loop
# brute force approach
s = set()
n = 5
while n > 0:
  element = int(input('enter a element:'))
  s.add(element)
  n-= 1

enter a element:1
enter a element:2
enter a element:3
enter a element:4
enter a element:5

In [44]:
element = set(map(int, input('enter element:').split()))
print(element)

enter element:1
{1}

In [42]:
# 3remove elements: use (remove)method
s = {1,2,3,4,5}
s.remove(2)
print(s)

{1, 3, 4, 5}

In [48]:
# remove elements: use (remove) method
# discard is used to remove the particular element from the
# set if the element is preesent into the set, then it will
# remove that element . otherwise it will not throw any error
s = {1,2,3,4,5}
result = s.discard(50)
print(result)

None

In [63]:
# 4 pop method: remove any random element from the set and return that.
s = {10,20,30,40}
remove = s.pop()
print("Removed element:", remove)
print("Remaining set:", s)

Removed element: 40
Remaining set: {10, 20, 30}

In [ ]:
# set operations: union, intersection, deffrences